[Desktop Entry]
Name=Tracker
GenericName=Tracker App
Comment=Time tracking application for freelance developers.
Categories=Utility;Education;
Exec=com.github.derpickson.derpickson
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=tracker
Keywords=Tracker;Time;Freelance;Stopwatch;Developer;Development
X-GNOME-UsesNotifications=true
